<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        
        <RollingFile name="RollingFile">
	      <FileName>C:/log/mylog.log</FileName>
	      <FilePattern>C:/log/size-based-logs/%d{yyyy-MM-dd-hh}-%i.log</FilePattern>
	      <PatternLayout>
	        <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
	      </PatternLayout>
	      <Policies>
	        <SizeBasedTriggeringPolicy size="200 KB" />
	        <TimeBasedTriggeringPolicy interval="1"/>
	      </Policies>
	      <DefaultRolloverStrategy max="10" />
	    </RollingFile>
        
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
		  <!-- log SQL with timing information, post execution -->
	    <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
	        <AppenderRef ref="RollingFile" />
	    </Logger>
	    <Logger name="org.springframework" level="INFO" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
        <Root level="ERROR">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>